.hero {
  color: black;
  position: absolute;
  top: 14rem;
  
  &__header {
  }

  &__body {
    background-color: white;
    width: 60vw;
    padding:1rem;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 8px 6px -6px black;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;

  &__item {
    display: inline;
    cursor: pointer;
    padding: 1rem;
    background-color: white;
    
    &:hover {
      background-color: #C5DBF8;
      color: white;
    }

    &--deactive {
      color: white;
      background: rgb(83, 83, 83);
    }

    &--first {
      border-radius: 10px 0 0 0;
    }

    &--last {
      border-radius: 0 10px 0 0;
    }
  }
}