.hero {
  color: black;
  
  &__header {
  }

  &__body {
    background-color: white;
    width: 60vw;
    height: 50vh;

    padding:1rem;
    border-radius: 10px 0 10px 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;

  &__item {
    display: inline;
    cursor: pointer;
    padding: 1rem;
    background-color: white;
    
    &:hover {
      background-color: beige;
    }

    &--deactive {
      background: rgb(191, 191, 191);
    }

    &--first {
      border-radius: 10px 0 0 0;
    }

    &--last {
      border-radius: 0 10px 0 0;
    }
  }
}