.Title {
  background-color: white;
  min-height: 5vh;
  font-size: 3rem;
  padding: 1rem;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}