.Header {
  background-color: white;
  color: black;

  min-height: 5vh;
  font-size: 3rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  & .account {
    font-size: 0.5rem;
  }
}