.NftCard {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 15rem;
  margin: 1rem;
  
  &__container {
    padding: 1rem;
    
    color: black;
    background-color: white;

    font-size: 1rem;
  }
}