.Footer {
  min-height: 5vh;
  padding: 0.5rem;
  background-color: rgb(33, 33, 33);
  color: white;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}